<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ lista.titulo }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list-header>
    Edición de lista
  </ion-list-header>

  <ion-item>
    <ion-label floating>Nombre del item</ion-label>
    <ion-input [(ngModel)]="descItem" (keyup.enter)="agregarItem()" type="text"></ion-input>
  </ion-item>
 
  <button ion-button color="primary" outline block (click)="agregarItem()">Agregar</button>

<ion-list>
  <ion-item-sliding *ngFor="let item of lista.items ; let index = index" (click)="actualizarEstadoItem(item)" class="animated fadeInDown">
    <button ion-item detail-none>
      <ion-icon *ngIf="item.isComplete" name="checkbox-outline" item-start></ion-icon>
      <ion-icon *ngIf="!item.isComplete" name="square-outline" item-start></ion-icon>
      
      {{ item.detalle }}
    </button>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="eliminarItemLista(index)">
        <ion-icon name="trash"></ion-icon>
        Eliminar
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


</ion-content>
