<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ lista.titulo }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list-header>
    Edición de lista
  </ion-list-header>

  <ion-item>
    <ion-label floating>Nombre del item</ion-label>
    <ion-input [(ngModel)]="descItem" type="text"></ion-input>
  </ion-item>
 
  <button ion-button color="primary" outline block (click)="agregarLista()">Agregar</button>

  <ion-list>
    
    <button ion-item detail-none *ngFor="let item of lista.items" (click)="actualizarEstadoItem(item)">
      <ion-icon *ngIf="item.isComplete" name="square-outline" item-start></ion-icon>
      <ion-icon *ngIf="!item.isComplete"  name="checkbox-outline" item-start></ion-icon>
      {{ item.detalle }}
    </button>

  </ion-list>

</ion-content>
